
@{
    ViewBag.Title = "ListUser";
    Layout = "~/Admin/Views/Share/_LayoutAmin.cshtml";
}
@model OtakuStore.ViewModels.UserViewModel
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">

        <!--banner-->
        <div class="banner">

            <h2>
                <a href="~/Admin/AdminIndex">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Users</span>
            </h2>
        </div>
        <!--//banner-->
        <!--content-->
        <div class="content-top" style="padding:10px;">
             <div>
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Email</th>
                            <th>PhoneNumber</th>
                            <th>City</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.userList)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.Email</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.City</td>
                                <td>
                                    @if (item.IsDelete == true)
                                    {
                                        <text>Deleted</text>
                                    }
                                    else
                                    {
                                        <text>Enable</text>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <script src="~/Content/js/ingredient.js"></script>
            </div>
            <div class="col-md-8 content-top-2">
                <!---start-chart---->
                <!----->
                <div class="content-graph">
                    @*<div class="content-color">
                            <div class="content-ch">
                                <p><i></i>Chrome </p><span>100%</span>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="content-ch1">
                                <p><i></i>Safari</p><span> 50%</span>
                                <div class="clearfix"> </div>
                            </div>
                        </div>*@
                    <!--graph-->
                    <link rel="stylesheet" href="~/Content/css/graph.css">
                    <!--//graph-->
                    <script src="/Content/js/jquery.flot.js"></script>
                    <div class="graph-container">
                        <div id="graph-lines"> </div>
                        <div id="graph-bars"> </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!---->
        <!---->
        <div class="copy">
            <p> &copy; 2016 Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>


