
@{
    ViewBag.Title = "ListIngredient";
    Layout = "~/Admin/Views/Share/_LayoutAmin.cshtml";
}
@model OtakuStore.ViewModels.IngredientViewModel 
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">

        <!--banner-->
        <div class="banner">

            <h2>
                <a href="~/Admin/AdminIndex">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Ingredient</span>
            </h2>
        </div>
        <!--//banner-->
        <!--content-->
        <div class="content-top" style="padding:10px;">
            <a href="~/Admin/clickAddIngredient" class="btn btn-primary" style="margin-bottom:10px;">Add new</a>
            <div>
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th>type</th>
                            <th>Description</th>
                            <th>Price/Unit</th>
                            <th>Unit</th>
                            <th>Status</th>
                            <th>edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listIngredient)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.IngredientType.Name</td>
                                <td>@item.Description</td>
                                <td>@item.PricePerUnit</td>
                                <td>
                                    @switch (item.UnitId.Trim(' '))
                                    {
                                        case "1":<text>grams</text>
                                        break;
                                    case "2": <text>mil</text>
                                    break;
                                case "3": <text>tsp</text>
                                break;
                            case "4": <text>kilograms</text>
                            break;
                        case "5": <text>piece</text>
                        break;
                    case "6": <text>box</text>
                    break;
            }
                                </td>
                                <td>
                                    @if (item.IsDelete == true)
                                    {
                                        <text>Deleted</text>
                                    }
                                    else
                                    {
                                        <text>Enable</text>
                                    }
                                </td>

                                <td>
                                    <a class="le-button big" href="~/Admin/clickEditIngredient?id=@item.Id" onclick="">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <script src="~/Content/js/ingredient.js"></script>
            </div>
            <div class="col-md-8 content-top-2">
                <!---start-chart---->
                <!----->
                <div class="content-graph">
                    @*<div class="content-color">
                    <div class="content-ch">
                        <p><i></i>Chrome </p><span>100%</span>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="content-ch1">
                        <p><i></i>Safari</p><span> 50%</span>
                        <div class="clearfix"> </div>
                    </div>
                </div>*@
                    <!--graph-->
                    <link rel="stylesheet" href="~/Content/css/graph.css">
                    <!--//graph-->
                    <script src="/Content/js/jquery.flot.js"></script>
                    <div class="graph-container">
                        <div id="graph-lines"> </div>
                        <div id="graph-bars"> </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!---->
        <!---->
        <div class="copy">
            <p> &copy; 2016 Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>




